* {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding-top: 70px;
  /* background-color: #E0E0E0; */
}

li + img  {
    margin-top: 5px;
    margin-bottom: 5px;
}

.indent {
    padding-left: 30px;
}





.glyphicon-heart {
  color: #ec0f0f;
}

.jumbotron {
  padding: 10px;
}

.backdrop {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

/* images */
.profile {
  display: inline-block;
  /* vertical-align: middle; */
  max-width: 100%;
  /* height: auto; */
}

.top-buffer {
  margin-top: 20px;
}

.top-and-bottom-buffer {
  margin: 20px 0;
}

.center-text {
  text-align: center;
}

.officerPicturesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.responsive-pic {
    max-width: 100%;
    height: auto;
}

.responsive-button {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}


.description-box-black{
    max-width: 95%;

    max-height: 100%;
    background-color: rgba(50,50,50,.05);
    border-radius: 20px;

    text-align: start;
}

.box-buffer {
    margin: 15px 20px 20px 0;
    padding: 15px 0 8px 15px;
}

.center-one-item{
    margin-left: 45%;

}

.image-container {
    max-width: 1400px;
    padding-left: 100px;
}

.hr {
  width: 97%;
  height: 2px;
  background-color: #E0E0E0;
  margin: 10px  auto;
}

.black-hr {
  width: 80%;
  height: 2px;
  background-color: #E2E1FF;
  margin: 10px  auto;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}


.col-centered {
  float: none;
  margin: 0 auto;
}

.icon {
  height: 50px;
  width: 50px;
}

.size-20-font {
  font-size: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bold {
  font-weight: bold;
}

td {
  padding: 2px;
}

 .carousel{

          margin: 20px 0;

      }
 .carousel .item img{
          margin: 0 auto; /* Align slide image horizontally center */
      }
  .control-buttons{
        text-align: center;
      }
  .instagram{
        margin: 20px;

      }

  .officerContent{
    padding: 50px;
  }
