/* for collapse preference. Toggle icon will appear at > 1260px */
@media (max-width: 1150px) {
    .collapse, .navbar-toggle {
        display:block !important;
    }
    #navbar {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .dropdown-menu{
        right: 100%;
        position: absolute;
        margin-left: 250px;
        padding-top: -40px;


    }
}

@media (max-width: 1150px) {
    .collapse, .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/*.navbar .navbar-collapse {*/
/*text-align: center;*/
/*}*/





/* navbar */
.navbar-toggle {
    color: black;
}

.navbar.navbar-custom {
    background-color: black;
    border-color: #FFFFFF;
    border: 0;
}

/* navbar default text */
.navbar-custom .navbar-nav > li > a {
    color: white;
}

/* navbar tabs */
.navbar-custom .navbar-nav > li {
    margin: 0 2px;
}

/* navbar active tab */
.navbar-custom .navbar-nav > .active-tab > a,
.navbar-custom .navbar-nav > .active-tab > a:hover,
.navbar-custom .navbar-nav > .active-tab > a:focus {
    background-color: #FFD400;
    color: #000000;
    /*margin: none;*/
    /*font-weight: bold;*/
}

/* navbar hover over tabs */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: #666666;
    border-radius: 2px;
}

.navbar-custom .navbar-brand .button-box, img:hover,
.navbar-custom .navbar-brand .button-box, img:focus {
    color: red;
    /* background-color: transparent; */
}

.button-box {
    position: absolute;

}

.navbar-brand {
    padding-right: 0px;
    margin-bottom: 5px;
}

.navbarbox{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

/* dropdown menu divider */
.dropdown-menu .divider {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #E0E0E0;
}

/* dropdown menu list items */
/*THIS CONTROLLS THE COLOR OF THE DROP DOWN ITEMS*/
.dropdown-menu > li > a {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* display drop down menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* social media logos */
.logo {
    margin-top: 7px;
    height: 35px;
    width: 35px;
}
.logo2 {
    margin-top: -8px;
    height: 35px;
    width: 60px;
}


/* navbar social media icons */
/* .navbar-brand > img.logo {
background-color: white;
} */

/* for footer text */
.navbar-text {
    position: relative;
    width: 100%;
}

.bottom {
    /* to keep it at the bottom of the page */
    position: absolute;
    bottom: 0;
    margin-top: 10px;
}

/* .navbar-fixed-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  heigh: 60px;
} */

/* to change color of hamburger menu */
.navbar-custom .navbar-toggle .icon-bar {
    background-color: white;
    margin-left:3rem;
    margin-right:3rem;
}

.footer-text {
    font-size: 12px;
}

.relative {
    position: relative;
}

.btn-custom {
    margin-top: 7px;
    margin-right: 2rem;
    margin-left: 2rem;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.acm_nav {
    height: 10%;
    width: 10%;
}

.acm-logo{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 500px;
    padding-right: 4px;
}

.acm-nav-logo {
    margin-top: -1rem;
    margin-left: 4rem;
    height: 4rem;
    width: 4rem;
}

.social-media-logo-1 {
    margin-top: 7px;
    margin-left: 2rem;
    height: 35px;
    width: 35px;
}

.social-media-logo-2 {
    margin-top: 7px;
    margin-right: 2rem;
    height: 35px;
    width: 35px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}